[run]
include =
	# include these files
	Sequential_WC_Simulator/*
	tests/*
	examples/*	
omit =
    # omit these files
	Sequential_WC_Simulator/multialgorithm/plot_specie_pop.py
	Sequential_WC_Simulator/multialgorithm/species_counts.py
	Sequential_WC_Simulator/multialgorithm/temp/analysis.py
	Sequential_WC_Simulator/multialgorithm/temp/exercise.py
