callbacks
cement >= 3.0.0
cobra
conv_opt
configobj
de_sim
h5py
matplotlib
networkx
numpy
obj_tables
pandas
pint >= 0.10
pqdict
python_libsedml
recordtype
scikits.odes
scipy
setuptools
wc_lang
wc_onto
wc_utils[git]
